$bg-color: #f8f8f8;
$clr-light:#282c34;
$bg-light-01:rgba(255, 255, 255, 0.1);
$bg-light-03:rgba(255, 255, 255, 0.3);
$clr-gray-32:rgb(32, 32, 32);
$clr-gray-144:rgb(144, 144, 144);
$clr-gray-209:rgb(209, 204, 204);
$clr-white:rgb(255, 255, 255);
$clr-light-242:rgb(242, 242, 242);