@import '../../../css/vars/vars';
.mainInformation {
    position: absolute;
    border-radius: 4px;
    padding: 40px;
    background-color: $clr-white;
    width: 480px;
    left: 30%;
    z-index: 3;
    min-height: 220px;
    box-shadow: 1px 4px 14px rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: column;
    &Star {
        margin-top: 15px;
        color: goldenrod;
        cursor: pointer;
        font-size: 40px!important;
        @media (max-width: 770px) {
            font-size: 24px!important;
        }
    }
    &Message {
        margin-top: 15px;
        display: block;
        color: $clr-light;
        font-weight: 500;
    }
    @media (max-width:770px) {
        width: 240px;
        left: 12px;
    }
}